.App {
  margin: 1rem;
}

button {
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: bisque;
  color: darkmagenta;
}

button:hover {
  background-color: #ebd1b3;
}

button:focus {
  outline: inherit;
}

button:active {
  background-color: antiquewhite;
}

label {
  color: darkmagenta;
}

